*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.containerPrincipal{
    background-image: url('/img/rest1.png');
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
}

input{
    outline: 0;
    background-color: floralwhite;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.boton{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: green;
    width: 100%;
    border: 0;
    padding: 15px;
    color: aliceblue;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}


.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}