*{
  font-size: 18px;
}

.jumbotron {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron img {
  width: 800px;
  height: 400px;
}

header {
  position: relative;
}

.navbar {
  z-index: 1;
}
.nav-item{
  padding: 0 1rem;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.3s ease-in-out;
}
