<style>
    #footer-content .logo img {
        width: 200px;
        background-color: rgb(75, 75, 75);
        border-radius: 10px;
    }
</style>

<div id="footer-content" class="bg-dark py-4">
    <div class="div container d-flex align-items-center justify-content-between">
        <div class="logo">
            <!-- add -->
        </div>
        <div class="text-center">
            <p class="mb-0 text-white">&copy; La Delicia - 2023</p>
            <p class="mb-0">
                <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
            </p>
        </div>
        <div></div> <!-- Espacio en blanco a la derecha -->
    </div>
</div>