<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="containerPrincipal">
        <div class="form-group">
            <h1>Login</h1>
            <br>
            <input id="usuario" type="text" class="form-control" name="usern" placeholder="Usuario">
            <input id="contraseña" type="password" name="password" class="form-control"   placeholder="Contraseña">
            <br>
            <button id="boton" class="boton" onclick="login()">Iniciar Sesion</button>
        </div>
    </div>
    <script src="/js/Login.js"></script>
</body>




</html>