body{
    background-image: url('../../img/tabla.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.h{
	color: white;
	background-color: black;
	font-size: 2.3em;
	padding: 9px;
	padding: 15px; /* Puedes eliminar la propiedad de padding repetida */
}
.mbg{
	background-color: blue;
	padding: 10px;
}
/* Estilos de la barra de menú */
.menu{
	color: white;
	background-color: blue;
	font-family:'Trebuchet MS';
	font-size:1.5em;
	padding: 10px;
	text-decoration: none;
}
.menu:hover{
	color: blue;
	background-color: rgb(0, 153, 255);
	box-shadow: 1px 1px 10px 1px rgb(0, 225, 255);
}
/* Estilos del contenido principal */
.content{
	background-color: white;
	font-size:21px;
	width: 75%;
	margin: 0 auto;
	padding: 40px;
}
/* Estilos del pie de página */
.footer{
	color: greenyellow;
	background-color: black;
	font-family: Calibri;
	padding: 23px;
}
/* Estilos de la clase "del" */
.del{
	color: red;
}
/* Estilos de las filas de la tabla */
tr{
	color: black;
    font-family: Arial;

}
/* Estilos de los encabezados de la tabla */
th{
	color: blue;
	font-size: 1.2em;
}
/* Estilos de los botones */
.btn{
    color: white;
    background-color: green;
    border: 0px;
    box-shadow: 1px 3px 5px 2px;
    width: 45%;
    height: 38px;
    font-size: 1.3em;
    border-radius: 20px;
}
/* Estilos del campo de texto */
.text{
    padding: 13px;
    background-color: black;
    color: white;
    width: 80%;
    border-radius: 5px;
    font-weight: bold;
}