
/*ESTILO LOGIN-ADMIN*/

.bg{
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url('../img/rest1.png');
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.title{
	color: red;
	font-family: cambria;
	font-size: 1.6em;
	font-weight: bold;

}
.text{
	padding: 12px;
	background-color: black;
	color: white;
	width: 90%;
	border-radius: 10px;
	font-weight: bold;
}
.tr{
	color: tomato;
}
