.bg{
    background-image: url('../../img/rest1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    color: red;
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: bold;
}

.text{
    padding: 13px;
    background-color: darkblue;
    color: white;
    width: 80%;
    border-radius: 10px;
    font-weight: bold;
}

.btn{
    color: white;
    background-color: green;
    border: 0px;
    box-shadow: 1px 3px 5px 2px;
    width: 45%;
    height: 38px;
    font-size: 1.3em;
    border-radius: 20px;
}
